langgraph
langchain
langchain-community
openai
python-dotenv
langchain-ollama
langchain-groq
langchain_openai
langgraph.checkpoint.sqlite
langchain-huggingface
langchain-text-splitters
langchain-chroma
pypdf
langchain_docling
# Pin the Python `jq` package; note native lib may be required on Windows
jq>=1.3.0,<2.0.0